@charset "utf-8";
#cabeça{
            
    background-color: black;
    width: 98%;
    height: 350px;
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    padding: 10px;
}
a:hover{
    text-decoration: underline;
}
a{
    color: white;
    text-decoration: none;
    font-size: 32px;
    margin: auto;
    font-weight: bolder;
}
section.imagem{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: right center;
}
p{
    width: 350px;
    color:black;
    font-size: 32px;
    background-attachment: scroll;
    text-align:left;
    background-color:transparent;
    margin-top: 0%;
    padding: 10px;
    padding-bottom: 2em;
}
 section.normal{
background-color: white;
color: black;
margin-top:20px;
background-attachment:scroll;
position: relative;
}
section.imagem>p{
 color: white;
 display: inline-block;
 padding: 5px;
 background-color:rgba(37, 37, 37, 0.048);
 background-attachment: scroll;
}
section.imagem2{
    background-image: url(imagens/background002.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    transform: translate(-50% -50%);
    background-position: center center;
}
section.imagem>p{
    background-color: rgba(20, 20, 20, 0.274);
}
section.imagem2>p{
    background-color:rgba(24, 23, 23, 0.253) ;
    color: white;
}
footer{
background-color: black;
color: white;
margin: auto;
padding: 10px;
}
h2{
    text-align: center;
    color: white;
}
 




